.aboutus {
  width: 100%;
  background: #f9fafb;
}
.headingWrapper {
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}
.heading {
  font-size: 16vw;
  color: #000;
  position: relative;
}
.heading > .headingOverlay {
  position: absolute;
  font-size: 1.7vw;
  backdrop-filter: blur(13px) saturate(186%);
  -webkit-backdrop-filter: blur(13px) saturate(186%);
  background-color: #4d6af38c;
  border-radius: 2em;
  border: 1px solid #4d6af3;
  padding: 0.5em 1em;
  color: #fff;
}
.heading > .headingOverlayFirst {
  top: 14%;
  left: -5%;
}
.heading > .headingOverlaySecond {
  bottom: 3%;
  right: 15%;
}

.multilingualContainer {
  width: 100%;
  min-height: 100vh;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 0;
}
.languageContainer {
  display: flex;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 4em;
}
.languageSelector {
  outline: none;
  border: none;
  background: #191f28;
  padding: 0.7em 1em;
  font-size: 0.9em;
  color: #fff;
  border-radius: 2em;
  cursor: pointer;
}

.languageSelector:focus {
  outline: 1px solid #000;
  outline-offset: 4px;
}
.languageSelector:last-child {
  margin-left: 1.3em;
}
.languageSelector-light {
  background: #c9c9c9;
}

.addressWrapper {
  display: flex;
  width: 100%;
}
.addressWrapperColumn {
  flex: 1;
}
.languageColumn {
  min-height: 4em;
  margin-bottom: 1em;
}
.languageColumn > p {
  color: #333d4b;
}
.addressWrapperColumn > .languageColumn:last-child {
  margin-top: 6em;
}

.mapWrapper {
  width: 100%;
  height: 100vh;
}
.mapImage {
  width: 100%;
  min-height: 30vh;
  height: 70vh;
  background: url("/img/마스크\ 그룹\ 37.png");
  background-size: cover;
  background-position: center;
}
.mapTitleWrapper {
  max-width: 1120px;
  margin-inline: auto;
  padding: 0 2em;
}
.mapTitleWrapper h1 {
  font-size: 4vw;
  transform: translateY(-90px);
}

.formWrapper {
  width: 100%;
  padding: 6em 0;
}
.formRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em 0;
}
.formRow > .formCol {
  flex: 1;
}
.formRow > .formCol:last-child {
  flex: 2.5;
}
.formCol > label {
  font-weight: 600;
}
.formCol > input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  color: #575757;
  padding: 0.5em 0;
  transition: 0.1s ease-in-out;
}
.formCol > input:focus {
  border-color: #000;
}
.formSubmitBtn {
  margin-left: auto;
  outline: none;
  border: none;
  background: #191f28;
  padding: 0.7em 1.3em;
  font-size: 0.9em;
  color: #fff;
  border-radius: 2em;
  cursor: pointer;
}
.formSubmitBtn:focus {
  outline: 1px solid #000;
  outline-offset: 4px;
}
@media only screen and (max-width: 540px) {
  .headingWrapper {
    background: #000;
  }
  .heading {
    writing-mode: vertical-lr;
    font-size: 18vh;
    color: #fff;
  }
  .heading > .headingOverlay {
    font-size: 2vh;
    writing-mode: horizontal-tb;
  }
  .heading > .headingOverlayFirst {
    top: 0;
  }
  .heading > .headingOverlaySecond {
    bottom: 25%;
    right: 0;
  }

  .languageContainer {
    margin-bottom: 2em;
  }

  .addressWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .languageColumn {
    min-height: 2em;
  }
  .addressWrapperColumn:last-child {
    margin-top: 3em;
  }
  .addressWrapperColumn > .languageColumn:last-child {
    margin-top: 0em;
  }
  .mapWrapper {
    height: 60vh;
  }
  .mapImage {
    height: 40vh;
  }
  .mapTitleWrapper h1 {
    font-size: 4vh;
    transform: translateY(-40px);
  }

  .formWrapper {
    padding: 4em 0;
  }
  .formRow {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .formRow > .formCol,
  .formRow > .formCol:last-child {
    flex: 1;
    width: 100%;
  }
  .formRow > .formCol:last-child {
    margin-top: 0.6em;
  }
}
