.abovefooter {
  height: 50vh;
  width: 100vw;
  background-image: url("/img/마스크 그룹 20@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #4a6cdd;
  color: white;
}
.div_parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 160%;
}
.abovefooter1 {
  width: 10rem;
  opacity: 0.7;
}
.abovefooter2 {
  padding-right: 8%;
}
.abovefooter2 p {
  margin: 0;
  opacity: 0.95;
}
.abovefooter3 {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .div_parent {
    font-size: 1.2rem;
  }
  .abovefooter1 {
    width: 5rem;
  }
}
@media only screen and (max-width: 550px) {
  .abovefooter3 {
    display: none;
  }
  .div_parent {
    flex-direction: column;
    padding-left: 3em;
    font-weight: bolder;
  }
  .abovefooter1 {
    width: 8rem;
    padding-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .abovefooter {
    background-image: url("/img/마스크 그룹 20.png");
    background-size: 108% 100%;
  }
  .abovefooter {
    height: 40vh;
  }
  .abovefooter1 {
    width: 5rem;
    padding-bottom: 1rem;
  }
  .abovefooter3 {
    display: none;
  }
  .div_parent {
    padding-left: 2.2em;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 290px) {
  .abovefooter {
    height: 30vh;
  }
  .div_parent {
    font-size: 0.7rem;
    letter-spacing: 0.7px;
  }
}
