@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .cards {
    width: '100%';
    text-align: 'center';
    height: '400px';
    background-color: white;
  }
  .card_wrapper {
    display: block;
    justify-content: center;
    width: '100%';
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .cards {
    background-color: blue;
    width: '50%';
    text-align: 'center';
    height: '400px';
  }
  .card_wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .cards {
    background-color: orange;
    width: '50%';
    text-align: 'center';
    height: '400px';
  }
  .card_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: yellow;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .cards {
    background-color: white;
    width: '50%';
    text-align: center;
    height: '400px';
  }
  .card_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
