@media (max-width: 480px) {
  .container8 {
    display: flex;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #f8f8f8 0% 0% no-repeat;
    margin-bottom: 0%;
    opacity: 1;
    overflow: hidden;
  }

  .col51 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
  }
  .row511 {
    padding-top: 0%;
    text-align: center;
  }
  .text511 {
    font: normal normal bold 18px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .row512 {
    padding-top: 3%;
    text-align: center;
  }
  .text512 {
    font: normal normal bold 24px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .text5121 {
    font: normal normal bold 24px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #4a6cdd;
    opacity: 1;
  }
  .row513,
  .row514,
  .row515 {
    display: none;
  }

  .col52 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 5%;
  }
  .col521 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    width: 150%;
    margin-top: -100%;
  }
  .col522 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 75%;
    opacity: 1;
    z-index: 5;
  }
  .col5221 {
    width: 85%;
    backdrop-filter: blur(100px) saturate(100%);
    -webkit-backdrop-filter: blur(100px) saturate(100%);
    /*background-color: #4d6af38c;*/
    border-radius: 2em;
    /*border: 2px solid #4d6af3;*/
    box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    -webkit-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    -moz-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    opacity: 79%;
    background-blend-mode: overlay;
    fill-opacity: 41%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 4;
    margin-top: -60%;
    padding-top: 30%;
    padding-bottom: 5%;
  }
  .row513D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text513D {
    text-align: left;
    font: normal normal bold 25px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .row514D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text514D {
    text-align: left;
    font: normal normal normal 15px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
  }
  .row515D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    width: 100%;
  }
  .text515D {
    text-align: left;
    font: normal normal medium 15px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
    padding-right: 2%;
  }
}
@media (min-width: 481px) {
  .container8 {
    display: flex;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #f8f8f8 0% 0% no-repeat;
    margin-bottom: 0%;
    opacity: 1;
    overflow: hidden;
  }

  .col51 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
  }
  .row511 {
    padding-top: 0%;
    text-align: center;
  }
  .text511 {
    font: normal normal bold 20px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .row512 {
    padding-top: 3%;
    text-align: center;
  }
  .text512 {
    font: normal normal bold 28px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .text5121 {
    font: normal normal bold 28px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #4a6cdd;
    opacity: 1;
  }
  .row513,
  .row514,
  .row515 {
    display: none;
  }
  .col52 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 5%;
  }
  .col521 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    width: 130%;
    margin-top: -100%;
  }
  .col522 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
    opacity: 1;
    z-index: 5;
  }
  .col5221 {
    width: 85%;
    backdrop-filter: blur(100px) saturate(100%);
    -webkit-backdrop-filter: blur(100px) saturate(100%);
    /*background-color: #4d6af38c;*/
    border-radius: 2em;
    /*border: 2px solid #4d6af3;*/
    box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    -webkit-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    -moz-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    opacity: 79%;
    background-blend-mode: overlay;
    fill-opacity: 41%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 4;
    margin-top: -40%;
    padding-top: 30%;
    padding-bottom: 5%;
  }
  .row513D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text513D {
    text-align: left;
    font: normal normal bold 32px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .row514D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text514D {
    text-align: left;
    font: normal normal normal 17px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
  }
  .row515D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    width: 100%;
  }
  .text515D {
    text-align: left;
    font: normal normal medium 17px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
    padding-right: 2%;
  }
}
@media (min-width: 641px) {
  .container8 {
    display: flex;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #f8f8f8 0% 0% no-repeat;
    margin-bottom: 0%;
    opacity: 1;
    overflow: hidden;
  }

  .col51 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
  }
  .row511 {
    padding-top: 0%;
    text-align: center;
  }
  .text511 {
    text-align: left;
    font: normal normal bold 22px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .row512 {
    text-align: center;
    padding-top: 3%;
  }
  .text512 {
    font: normal normal bold 30px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .text5121 {
    font: normal normal bold 30px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #4a6cdd;
    opacity: 1;
  }
  .row513,
  .row514,
  .row515 {
    display: none;
  }
  .col52 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 5%;
  }
  .col521 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    width: 130%;
    margin-top: -80%;
  }
  .col522 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
    opacity: 1;
    z-index: 5;
  }
  .col5221 {
    width: 85%;
    backdrop-filter: blur(100px) saturate(100%);
    -webkit-backdrop-filter: blur(100px) saturate(100%);
    /*background-color: #4d6af38c;*/
    border-radius: 2em;
    /*border: 2px solid #4d6af3;*/
    box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    -webkit-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    -moz-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
    opacity: 79%;
    background-blend-mode: overlay;
    fill-opacity: 41%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 4;
    margin-top: -60%;
    padding-top: 30%;
    padding-bottom: 5%;
  }
  .row513D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text513D {
    text-align: left;
    font: normal normal bold 28px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  .row514D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .text514D {
    text-align: left;
    font: normal normal normal 15px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
  }
  .row515D {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    width: 100%;
  }
  .text515D {
    text-align: left;
    font: normal normal medium 15px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
    padding-right: 2%;
  }
}

@media (min-width: 1281px) {
  .container8 {
    display: flex;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: #f8f8f8;
    margin-bottom: 0%;
    opacity: 1;
  }

  .col51 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
  }
  .row511 {
    width: 100%;
    text-align: left;
  }
  .text511 {
    text-align: left;
    font-size: 23px;
    font-family: Sans CJK KR;
    font-weight: bold;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .row512 {
    display: flex;
    align-items: flex-start;
    padding-top: 2%;
    width: 200%;
  }
  .text512 {
    text-align: left;
    font-size: 45px;
    font-family: Sans CJK KR;
    font-weight: bold;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .text5121 {
    text-align: left;
    font-size: 45px;
    font-family: Sans CJK KR;
    font-weight: bold;
    letter-spacing: 0px;
    color: #4a6cdd;
    opacity: 1;
  }
  .row513 {
    display: flex;
    align-items: flex-start;
    padding-top: 40%;
    width: 150%;
  }
  .text513 {
    text-align: left;
    font-size: 35px;
    font-family: Sans CJK KR;
    font-weight: bold;
    letter-spacing: 0px;
    color: #191f28;
    opacity: 1;
  }
  .row514 {
    display: flex;
    align-items: flex-start;
    padding-top: 4%;
    width: 150%;
  }
  .text514 {
    text-align: left;
    font-size: 20px;
    font-family: Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
  }
  .row515 {
    display: flex;
    align-items: flex-start;
    padding-top: 4%;
    width: 150%;
  }
  .text515 {
    text-align: left;
    font-size: 20px;
    font-family: Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
    padding-right: 2%;
  }

  .col52 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    padding-top: 5%;
  }
  .col521 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    width: 80%;
    margin-top: -85%;
  }
  .col522 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 55%;
    opacity: 1;
    z-index: 5;
  }
  .col5221 {
    display: none;
  }
  .row513D {
    display: none;
  }
  .row514D {
    display: none;
  }
  .row515D {
    display: none;
  }
}
