.container4 {
  padding-top: 10%;
  padding-bottom: 10%;
  background: #ffffff 0% 0% no-repeat;
  opacity: 1;
}
.row42 {
  padding-top: 1.5%;
  width: 100%;
  padding-right: 50%;
  text-align: left;
}
.text42 {
  font: normal normal bold 24px Noto Sans CJK KR;
  letter-spacing: 0px;
  color: #191f28;
  opacity: 1;
}
.text421 {
  font: normal normal bold 24px Noto Sans CJK KR;
  letter-spacing: 0px;
  color: #4a6cdd;
  opacity: 1;
}

.row43parent {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.row43,
.row44,
.row45,
.row46 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 3rem;
}
.text441 {
  text-align: left;
}
@media (max-width: 480px) {
  .row41 {
    display: none;
  }
  .img431 {
    width: 6rem;
    padding-right: 1rem;
  }
  .textwid{
    width: 11rem;
    padding-left: 1rem;
  }
  .text4411 { 
    font: normal normal bold 18px Noto Sans CJK KR;
    letter-spacing: -0.54px;
    color: #191f28;
    opacity: 1;
  }
  .text451 {
    text-align: left;
    width: 80%;
  }
  .text4511 {
    font-size: 11px;
    font-family:  Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #5f676f;
    opacity: 1;
  }
}
@media (min-width: 481px) {
  .row41 {
    display: none;
  }
  .text42 {
    font: normal normal bold 30px Noto Sans CJK KR;
  }
  .text421 {
    font: normal normal bold 30px Noto Sans CJK KR;
  }

  .img431 {
    width:8rem;
    padding-right: 1rem;
  }
  .textwid{
    width: 16rem;
    padding-left: 1rem;
  }
  .text4411 {
    font: normal normal bold 22px Noto Sans CJK KR;
    letter-spacing: -0.54px;
    color: #191f28;
    opacity: 1;
  }
  .text451 {
    text-align: left;
    width: 80%;
  }
  .text4511 {
    font: normal normal normal 16px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #5f676f;
    opacity: 1;
  }
}
@media (min-width: 641px) {
  .row41 {
    display: none;
  }
  .row42{
    width: 110%;
  }
  .text42 {
    font: normal normal bold 35px Noto Sans CJK KR;
  }
  .text421 {
    font: normal normal bold 35px Noto Sans CJK KR;
  }

  .img431 {
    width: 6rem;
    padding-right: 1rem;
  }
  .textwid{
    width: 22rem;
    padding-left: 2rem;
  }
  .text4411 {
    font: normal normal bold 26px Noto Sans CJK KR;
    letter-spacing: -0.54px;
    color: #191f28;
    opacity: 1;
  }
  .text451 {
    text-align: left;
    width:70%;
  }
  .text4511 {
    font: normal normal normal 17px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #5f676f;
    opacity: 1;
  }
}

@media (min-width: 1281px) {
  .row41 {
    display: block;
    width: 100%;
    text-align: left;
  }
  .text41 {
    font: normal normal normal 15px/27px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #333d4b;
    opacity: 1;
  }
  .text42 {
    font: normal normal bold 45px Noto Sans CJK KR;
  }
  .text421 {
    font: normal normal bold 50px Noto Sans CJK KR;
  }
  .row43parent {
    padding-left: 5%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .row43,
  .row44,
  .row45,
  .row46 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13rem;
  }

  .img431 {
    padding: 7%;
    width: 50%;
  }
  .textwid{
    width:16rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text441 {
    text-align: center;
  }
  .text4411 {
    font: normal normal bold 22px Noto Sans CJK KR;
    letter-spacing: -0.84px;
    color: #191f28;
    opacity: 1;
  }
  .text451 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text4511 {
    text-align: center;
    font: normal normal normal 13px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #5f676f;
    opacity: 1;
  }
}
