.img_cont_but2_122 {
  cursor: pointer;
}
.text2021 {
  color: #575757;
  font-size: 8rem;
  font-weight: 500;
  opacity: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.img_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  font-weight: bold;
  width: 100%;
}
.img_con1 {
  position: relative;
  z-index: 0;
  width: 10em;
  background-repeat: no-repeat;
  margin-top: -1rem;
  opacity: 1;
  display: flex;
  justify-content: center;
}
.img_con2 {
  z-index: 9;
  opacity: 1;
  font-size: 1rem;
  backdrop-filter: blur(13px) saturate(186%);
  -webkit-backdrop-filter: blur(13px) saturate(186%);
  background-color: #4d6af38c;
  border-radius: 2em;
  border: 2px solid #4d6af3;
  padding: 0.25em 0.5em;
  color: #fff;
  text-align: center;
  transform: translateX(90%);
}
.img_con3 {
  margin-top: -2rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  z-index: 9;
}
/*----------------------Body-Below-Image----------------------------*/
.img_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15rem;
  width: 100%;
}
.img_cont_new {
  z-index: 9;
  opacity: 1;
  font-size: 1rem;
  backdrop-filter: blur(13px) saturate(186%);
  -webkit-backdrop-filter: blur(13px) saturate(186%);
  background-color: #4d6af38c;
  border-radius: 2em;
  border: 2px solid #4d6af3;
  padding: 0.25em 0.5em;
  font-weight: bold;
  color: #fff;
  margin-left: -12rem;
}
.img_cont_but {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.img_cont_butcenter {
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2.5em;
  background-color: black;
  color: #333d4b;
  padding: 0.75em 1em;
  margin-top: -1rem;
  margin-bottom: 5rem;
}
.img_cont_butcont {
  width: 100%;
}

/*-------------------Ver2_Start----------------*/
.img_cont_but1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10rem;
}
.img_cont_but1_title {
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 7rem;
}
.img_cont_but1_cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.img_cont_but1_1,
.img_cont_but1_2,
.img_cont_but1_3 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 3px solid #eaeaea;
}
.img_cont_but1_11 {
  font-family: Noto Sans CJK KR;
  font-size: 0.8rem;
  color: #4a6cdd;
  padding-bottom: 0.5rem;
}
.img_cont_but1_111 {
  color: #333d4b;
  padding-left: 1.5rem;
}
.img_cont_but1_12 {
  font-family: Noto Sans CJK KR;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 82%;
}
.img_cont_but1_122 {
  display: none;
}
.removebr {
  display: none;
}
/*-------------------Ver2_End----------------*/

/*-------------------Ver1_Start----------------*/
.img_cont_but2_cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -3rem;
}
.img_cont_but2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10rem;
}
.img_cont_but2_11 {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.img_cont_but2_111 {
  color: #4a6cdd;
}
.img_cont_but2_12 {
  font-weight: bold;
  font-size: 0.8rem;
  color: #333d4b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3rem;
}

/*-------------------Ver1_End------------------*/
@media (min-width: 401px) {
  .img_con3 {
    margin-top: -2rem;
  }
  .img_cont_butcenter {
    margin-top: -1rem;
  }
  .img_cont_new {
    margin-left: -12rem;
  }
  .img_cont_but1_title {
    font-size: 2rem;
  }
  .img_cont_but1_11 {
    font-size: 1rem;
  }
  .img_cont_but1_12 {
    font-size: 1.3rem;
  }
  .img_cont_but2_11 {
    font-size: 1.2rem;
  }
  .img_cont_but2_12 {
    font-size: 1rem;
  }
}

@media (min-width: 700px) {
  .img_cont_but1_title {
    font-size: 2.2rem;
  }
  .img_cont_but1_11 {
    font-size: 1.2rem;
  }
  .img_cont_but1_12 {
    font-size: 1.5rem;
  }
  .img_cont_but2_11 {
    font-size: 1.4rem;
  }
  .img_cont_but2_12 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .text2021 {
    font-size: 20rem;
  }
  .img_con1 {
    position: relative;
    z-index: 0;
    width: 50rem;
    background-repeat: no-repeat;
    margin-top: -1.5rem;
    opacity: 1;
    display: flex;
    justify-content: center;
  }
  .img_cont_but2_cont {
    margin-top: -5rem;
  }
  .img_con2 {
    z-index: 9;
    opacity: 1;
    font-size: 2rem;
    font-weight: bold;
    backdrop-filter: blur(13px) saturate(186%);
    -webkit-backdrop-filter: blur(13px) saturate(186%);
    background-color: #4d6af38c;
    border-radius: 2em;
    border: 2px solid #4d6af3;
    padding: 0.25em 0.5em;
    color: #fff;
    text-align: center;
    transform: translateX(200%);
  }
  .img_con3 {
    margin-top: -4em;
    width: 30rem;
    display: flex;
    justify-content: center;
    z-index: 9;
  }
  .img_cont_new {
    z-index: 9;
    opacity: 1;
    font-size: 2rem;
    backdrop-filter: blur(13px) saturate(186%);
    -webkit-backdrop-filter: blur(13px) saturate(186%);
    background-color: #4d6af38c;
    border-radius: 2em;
    border: 2px solid #4d6af3;
    padding: 0.25em 0.5em;
    font-weight: bold;
    color: #fff;
    margin-left: -21rem;
  }
  .img_cont_butcenter {
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2.5em;
    background-color: black;
    color: #333d4b;
    padding: 0.75em 1em;
    margin-top: -2rem;
    margin-bottom: 20rem;
  }
  .img_cont_but1,.img_cont_but2 {
  align-items: flex-start;
}
  .img_cont_but1_title {
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 10rem;
  }
  .img_cont_but1_11 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }
  .img_cont_but1_111 {
    padding-left: 1.5rem;
  }
  .img_cont_but1_12 {
    font-size: 1.7rem;
  }
  .img_cont_but1_122 {
    padding-left: 2rem;
    display: block;
  }
  .removebr {
    display: block;
  }
  .img_cont_but2_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5rem;
  }
  .img_cont_but2_11 {
    font-size: 2rem;
    width:25rem;
  }
  .img_cont_but2_111 {
    color: #4a6cdd;
  }
  .img_cont_but2_12 {
    font-size: 1.5rem;
  }
  .img_cont_but2_122 {
    padding-left: 15rem;
  }
  .img_cont_but1_2 {
    padding-left: 38rem;
  }
}
