.subpage5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5em 0px;
  width: 100%;
}
.col1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.row11 {
  display: flex;
  flex-direction: column;
  font-family: Noto Sans CJK KR;
  font-weight: bold;
  text-align: center;
}
.text11 {
  font-size: 0.9rem;
  padding-bottom: 0.5em;
  color: #4a6cdd;
}
.text12 {
  font-size: 1.5rem;
  padding-bottom: 10rem;
}
.row12b {
  width: 34rem;
}
.row12m {
  display: none;
}
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -40rem;
}
.row21 {
  width: 15rem;
  z-index: 5;
}
.row22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Noto Sans CJK KR;
  width: 20rem;
  backdrop-filter: blur(100px) saturate(100%);
  -webkit-backdrop-filter: blur(100px) saturate(100%);
  border-radius: 2em;
  box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
  -moz-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
  opacity: 79%;
  background-blend-mode: overlay;
  fill-opacity: 41%;
  z-index: 4;
  margin-top: -2.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.text21 {
  font-weight: bold;
  font-size: 1.75rem;
  color: #fff;
  padding-bottom: 1rem;
}
.text22 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333d4b;
}

@media (min-width: 1024px) {
  .subpage5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7em 0px;
  }
  .col1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-top: 0;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-top: 0;
  }
  .row11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    width: 100%;
    text-align: left;
  }
  .text11 {
    font-size: 1.5rem;
    padding-bottom: 0.5em;
    color: black;
  }
  .text12 {
    font-size: 3rem;
    padding-bottom: 10em;
  }
  .text12b {
    color: #4a6cdd;
  }
  .row12 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .row12m {
    margin-top: -35rem;
    display: block;
    width: 20rem;
  }
  .row12b {
    width: 30rem;
  }
  .row21 {
    padding-top: 15rem;
    padding-left: 4rem;
    padding-bottom: 5rem;
    width: 23rem;
  }
  .row22 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Noto Sans CJK KR;
    width: 80%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .text21 {
    font-size: 2.25rem;
    color: black;
    padding-left: 5rem;
  }
  .text21br {
    display: none;
  }
  .text22 {
    font-size: 1.2rem;
    padding-left: 5rem;
  }
}
