.subpage3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0px;
  width: 100%;
}
.row1 {
  width: 110%;
}
.row11 {
  font-family: Noto Sans CJK KR;
  font-weight: bold;
  font-size: 2.5rem;
  padding-left: 4.5rem;
  padding-bottom: 1.5rem;
}
.row12 {
  width: 100%;
}
.row2 {
  width: 170%;
  margin-top: -3rem;
}
.row3 {
  width: 15%;
}
.row4 {
  padding-top: .50rem;
  font-family: Noto Sans CJK KR;
  font-size: 1.125rem;
  text-align: center;
}

@media (min-width: 500px) {
  .row1{
    width: 100%;
  }
  .row11{
    font-size: 3rem;
    padding-left: 3rem;
  }
  .row12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .row2{
    width: 160%;
    margin-top: -4rem;
  }
  .row3{
    width: 4.5rem;
  }
  .row4{
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .row11,
  .row12 {
    width: 50%;
    font-size: 3.5rem;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .row2 {
    width: 100%;
    margin-top: -6rem;
  }
  .row4,
  .row3 {
    padding-top: 1rem;
    font-size: 1.75rem;
  }
}
