.subpage8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5em 0px;
  width: 100%;
}
.row1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Noto Sans CJK KR;
  font-weight: bold;
  width: 100%;
}
.text11 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: #4a6cdd;
}
.text12 {
  font-size: 3.125rem;
  display: none;
}
.row2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Noto Sans CJK KR;
  font-weight: bold;
  width: 100%;
}
.text21 {
  font-size: 2rem;
  padding-bottom: 10rem;
}
.text211 {
  padding-left: 1.5rem;
}
.text212 {
  padding-left: 3rem;
}
.text213 {
  padding-left: 4.5rem;
}
.text214 {
  padding-left: 6rem;
}
.text22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text23 {
  display: none;
}
.col21b {
  width: 34rem;
}
.col21m {
  margin-top: -39rem;
  width: 16rem;
  z-index: 5;
}
.row3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Noto Sans CJK KR;
  width: 20rem;
  backdrop-filter: blur(100px) saturate(100%);
  -webkit-backdrop-filter: blur(100px) saturate(100%);
  border-radius: 2em;
  box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
  -webkit-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
  -moz-box-shadow: 0px 0px 2.5px 0px rgba(242, 242, 242, 1);
  opacity: 79%;
  background-blend-mode: overlay;
  fill-opacity: 41%;
  z-index: 4;
  margin-top: -2.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.text31 {
  font-weight: bold;
  font-size: 1.75rem;
  color: #fff;
  padding-bottom: 2rem;
}
.text32 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333d4b;
}
.text32br {
  display: none;
}
@media (min-width: 1024px) {
  .row1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    width: 100%;
  }
  .text11 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
    color: #191f28;
  }
  .text12 {
    font-size: 3rem;
    display: block;
  }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Noto Sans CJK KR;
    font-weight: bold;
    width: 100%;
    padding-top: 5rem;
  }
  .text21,
  .text23 {
    font-size: 2.5rem;
    padding-bottom: 0rem;
    display: block;
  }
  .text211 {
    padding-left: 0rem;
  }
  .text212 {
    padding-left: 0rem;
  }
  .text213 {
    padding-left: 0rem;
  }
  .text214 {
    padding-left: 0rem;
  }
  .text22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col21b{
    width:100%;
  }
  .col21m {
    margin-top: -37rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .row3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Noto Sans CJK KR;
    width: 100%;
    padding-top: 5rem;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .text31 {
    font-weight: bold;
    font-size: 2.2rem;
    color: black;
    padding-bottom: 1rem;
  }
  .text32 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333d4b;
  }
  .text32br{
    display: block;
  }
}
