.subpage2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 0px;
  width: 100%;
}
.title {
  font-family: Noto Sans CJK KR;
  font-weight: bolder;
  font-size: 1.4rem;
  padding-bottom: 5rem;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 1.5em;
  padding-bottom: 3rem;
  width: 100%;
}
.sp2br2 {
  display: none;
}
.image1 {
  width: 8rem;
}
.text1 {
  padding-left: 2rem;
  font-family: Noto Sans CJK KR;
}
.t1title {
  font-weight: bold;
  font-size: 1rem;
}
.text1content {
  font-size: 0.8rem;
  color: #333d4b;
}

@media (min-width: 500px) {
  .title {
    font-size: 3rem;
  }
  .image1 {
    width: 5rem;
  }
  .t1title {
    font-size: 1.2rem;
  }
  .text1content {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 2rem;
  }
  .sp2br {
    display: none;
  }
  .sp2br2 {
    display: block;
  }
  .row {
    padding-bottom: 5.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .image1 {
    width: "10%";
  }
  .text1 {
    padding-left: 13rem;
    width: "90%";
  }
  .t1title {
    font-size: 1.5rem;
  }
  .text1content {
    font-size: 1.2rem;
  }
}
