.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20%;
  width: 100%;
  height: 100%;
  background: #fff 0% 0% no-repeat;
  opacity: 1;
}
.col1 {
  width: 100%;
  padding-left: 9vw;
  padding-right: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff 0% 0% no-repeat;
  opacity: 1;
}
.text3_1,
.text3_2 {
  text-align: left;
  padding-bottom: 5%;
  opacity: 1;
}
.text3_11,
.text3_21 {
  font-family: Noto Sans CJK KR;
  letter-spacing: 0px;
  color: #191f28;
}
.col2 {
  width: 100%;
  opacity: 1;
}
.comp3 {
  width: 100%;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 480px) {
  .col1 {
    padding-left: 10%;
  }
  .text3_11 {
    font-weight: bold;
    font-size: 28px;
  }
  .text3_21 {
    font-size: 11px;
  }
}
@media (min-width: 481px) {
  .text3_11 {
    font-weight: bold;
    font-size: 31px;
  }
  .text3_21 {
    font-size: 15px;
  }
}
@media (min-width: 641px) {
  .text3_11 {
    font-weight: bold;
    font-size: 34px;
  }
  .text3_21 {
    font-size: 18px;
  }
}
@media (min-width: 940px) {
  .container3 {
    padding-top: 0%;
    flex-direction: row;
  }
  .col1 {
    padding-right: 0%;
    width: 50%;
  }
  .text3_11 {
    font-weight: bold;
    font-size: 40px;
  }
  .text3_21 {
    font-size: 20px;
  }
  .col2 {
    width: 50%;
    padding-left: 5%;
    padding-top: 1%;
    background-color: #f5f5f5;
  }
}
