.community8 {
  height: 50vh;
  width: 100vw;
  background-image: url("/img/마스크 그룹 20@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #4a6cdd;
  color: white;
}
.div_parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* KOREAN LIFE MEDIC */
.community81 {
  font-size: 2rem;
  font-weight: 600;
  width: 10rem;
  opacity: 0.7;
}
/* Right 2 divs parent */
.community82 {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
/* Mid content div */
.community821 {
  font-size: 3rem;
  font-weight: bolder;
}
.community821 p {
  margin: 0.5vh 0.5vw;
}
/* Button div */
.community822 {
  display: flex;
  align-items: center;
}
.community822 button {
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem 2rem;
  background-color: white;
  color: #333d4b;
}

@media only screen and (max-width: 1024px) {
  .community82 {
    width: 69%;
  }
  .community81 {
    font-size: 2rem;
  }
  .community821 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 950px) {
  .community821 {
    font-size: 2.1rem;
  }
  .community822 button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 540px) {
  .community8 {
    height: 41vh;
    background-image: url("/img/마스크 그룹 20.png");
    background-size: 110% 100%;
    flex-direction: column;
    justify-content: center;
  }
  .div_parent {
    flex-direction: column;
  }
  /* KOREAN LIFE MEDIC */
  .community81 {
    font-size: 1.5rem;
    width: 10rem;
  }
  /* Right 2 divs parent */
  .community82 {
    margin-top: 1rem;
    width: 100%;
    align-items: flex-end;
  }
  /* Mid content div */
  .community821 {
    font-size: 1.7rem;
  }
  .community822 button {
    font-size: 1.3rem;
    padding: 0.7rem 1.8rem;
  }
}
@media only screen and (max-width: 450px) {
  .community8 {
    height: 39vh;
  }
  .community81 {
    font-size: 1.2rem;
    width: 8rem;
  }
  .community821 {
    font-size: 1.2rem;
  }
  .community822 button {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
  }
}
@media only screen and (max-width: 280px) {
  .community8 {
    height: 39vh;
  }
  .community81 {
    font-size: 0.8rem;
    width: 6rem;
  }
  .community821 {
    font-size: 0.8rem;
  }
  .community822 button {
    font-size: 0.5rem;
    padding: 0.4rem 1rem;
  }
}
