.landing {
  background-image: url("../../../public/assets/images/community12.svg"),
    url("../../../public/assets/images/community11.png");
  background-repeat: repeat, no-repeat;
  background-size: cover, 100% 100%;
  height: 100vh;
  width: 100vw;
}

.texts_parent {
  padding-top: 34vh;
  text-align: left;
  font-size: 3em;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #ffffff;
}
.img1 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.scroll {
  color: #ffff;
  /* background-color: red; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  bottom: 1rem;
  text-align: center;
  display: inline;
  font-size: 1rem;
  font-family: "Noto Sans CJK KR";
}
.comm_mob11 {
  display: none;
}
@media only screen and (max-width: 912px) {
  .texts_parent {
    padding-top: 60vh;
    font-size: 5vw;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 820px) {
  .texts_parent {
    /* margin-left: 10vw; */
    padding-top: 65vh;
  }
}
@media only screen and (max-width: 480px) {
  .landing {
    background-image: url("../../../public/assets/images/community12.svg"),
      url("../../../public/assets/images/community_mob11.png");
  }
  .texts_parent {
    display: none;
  }
  .comm_mob11 {
    display: block;
    /* margin-left: 10vw; */
    padding-top: 65vh;
    text-align: left;
    font-size: 8vw;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 160%;
    color: #ffffff;
  }
}
