.landing {
  background-image: url("../../../public/assets/images/main_img.png");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  height: 100vh;
  width: 100vw;
}

.texts_parent {
  display: flex;
  flex-direction: column;
  margin-top: 35vh;
}

.text1 {
  margin-left: 3px;
  text-align: left;
  font-size: 25px;
  letter-spacing: 1px;
  color: #d3d3d3;
  opacity: 0.7;
}

.text2 {
  margin-top: 1%;
  width: 400px;
  text-align: left;
  font-size: 2.4rem;
  font-weight: bolder;
  color: #ffffff;
  opacity: 0.9;
}

.btn {
  margin-top: 3%;
}

.btn button {
  padding: 10px 25px;
  background-color: #4a6cdd;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: -0.4px;
  border: none;
  outline: none;
  opacity: 0.9;
}
.img1 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.scroll {
  color: #ffff;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline;
  font-size: 1rem;
  font-weight: bolder;
}
@media only screen and (max-width: 1000px) {
  .texts_parent {
    margin-top: 48vh;
  }
  .text1 {
    font-size: 1.8em;
  }
  .text2 {
    width: 45vw;
    font-size: 2.2em;
  }
  .btn button {
    font-size: 1.4em;
  }
  .scroll {
    bottom: 0.6rem;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 540px) {
  .landing {
    background-image: url("../../../public/assets/images/landing_mob.png");
    background-size: 100% 110%;
  }
  .texts_parent {
    margin-top: 65vh;
  }
  .text1 {
    font-size: 0.8em;
  }
  .text2 {
    font-size: 1em;
    width: 47vw;
  }
  .btn button {
    font-size: 1em;
  }
}
