.navWrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  color: black;
  background-color: #fff;
}
.nav {
  min-height: 65px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loggo {
  width: 50px;
  position: relative;
  cursor: pointer;
}
.loggo::before {
  content: "Medic";
  font-size: 21px;
  font-weight: bold;
  color: #4a6cdd;
  position: absolute;
  left: 50px;
  top: -2px;
}
.navlist_LOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0.7;
  font-size: 15px;
  font-weight: bolder;
  width: 60%;
  cursor: pointer;
}
.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 77%;
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 12%;
  cursor: pointer;
}
.menu_icon {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .navlist_LOption {
    width: 70%;
  }
}
@media only screen and (max-width: 1000px) {
  .navlist_LOption {
    font-size: 0.7em;
  }
  .language {
    width: 13%;
  }
}
@media only screen and (max-width: 540px) {
  .menu_icon {
    display: block;
  }
  .navlist_LOption {
    display: none;
  }
}

/* Drawer */
.drawer {
  position: fixed;
  transition: all 0.5s;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.drawer_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  position: relative;
}
.drawerH1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.eng {
  margin-left: 5vw;
}
/* X symbol */
.drawerH2 {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 4vw;
  height: 4vw;
  /* opacity: 0.3; */
  opacity: 0.7;
}
/* .drawerH2:hover {
  opacity: 1;
} */
.drawerH2:before,
.drawerH2:after {
  position: absolute;
  right: 30%;
  content: " ";
  height: 4vw;
  width: 2px;
  background-color: #333;
}
.drawerH2:before {
  transform: rotate(45deg);
}
.drawerH2:after {
  transform: rotate(-45deg);
}

.drawer_body {
  font-size: 4vw;
  font-weight: bolder;
  opacity: 75%;
  line-height: 160%;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drawer_body p {
  margin: 0;
}
.home {
  padding-top: 10vh;
}
.option {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 20vh;
}
