.community6 {
  width: 100vw;
  background-color: #ffffff;
  padding-bottom: 10vh;
}
.community61 {
  background-image: url("../public/assets/images/community61.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh;
  width: 102vw;
  padding-right: 2vw;
}
.community61 p {
  margin: 0;
  letter-spacing: -2px;
}
.community611 {
  font-size: 2.1rem;
  font-weight: bolder;
  color: #ffffff;
  padding-top: 16vh;
}

.community62 {
  display: flex;
  margin-left: 4px;
}
.community621 {
  padding-top: 5vh;
  width: 5vw;
  border-right: 1px solid lightgray;
}
.community621 p {
  margin: 7vh 0;
  opacity: 0.5;
  font-weight: 600;
}
.p2021 {
  margin-top: 8.5vh;
  color: #4a6cdd;
  font-weight: 600;
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle6 {
  width: 13px;
  height: 13px;
  border: 3px solid #4a6cdd;
  border-radius: 50%;
  transform: translateX(50%);
  background-color: white;
}
.community622 {
  padding-top: 5vh;
  width: 55vw;
  border-left: 1px solid lightgray;
}
.community622 p {
  margin: 7vh 5vh;
}
.community6221 {
  margin: 7vh 5vh;
  opacity: 0.6;
  font-size: 0.65rem;
}
.community6222 {
  font-weight: 600;
  opacity: 0.7;
}
.lastp {
  margin-top: 7vh;
  margin-left: 5vh;
}
.com_mob62 {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .p2021 {
    margin-top: 3vh;
  }
}
@media only screen and (max-width: 1024px) {
  .p2021 {
    margin-top: -1vh;
  }
}
@media only screen and (max-width: 912px) {
  .community61 {
    height: 40vh;
  }
  .community611 {
    font-size: 4vw;
    padding-top: 11vh;
  }
  .community621 {
    font-size: 4vw;
    width: 11.7vw;
  }
  .community621 p {
    margin: 5vh 0;
  }
  .p2021 {
    margin-top: -0.5vh;
    font-size: 4vw;
  }
  .circle6 {
    width: 3.5vw;
    height: 3.5vw;
    border: 5px solid #4a6cdd;
    /* left: 10vw; */
  }
  .community622 {
    width: 70vw;
  }
  .community622 p {
    margin: 5vh 3vh;
  }
  .community6221 {
    margin: 6vh 3vh;
    font-size: 2vw;
  }
  .community6222 {
    font-size: 2vw;
  }
  .lastp {
    margin-top: 5vh;
    margin-left: 3vh;
  }
}

@media only screen and (max-width: 480px) {
  .community61 {
    height: 30vh;
    background-image: url("../public/assets/images/community_mob61.png");
  }
  .community61 p {
    letter-spacing: 0px;
  }
  .community611 {
    font-size: 6vw;
    /* margin-left: 15vw; */
    padding-top: 4vh;
    margin-left: 5vw;
  }
  .community62 {
    display: none;
  }
  .com_mob62 {
    display: flex;
    flex-direction: column;
    /* margin-left: 15vw; */
    margin-left: 5vw;
    border-left: 3px solid lightgray;
    padding-top: 5vh;
  }
  .com_mob621 {
    padding-left: 5vw;
    font-size: 3.5vw;
    font-weight: bold;
    opacity: 0.5;
    line-height: 140%;
  }
  .com_mob6211 {
    margin-bottom: 3vh;
  }
  .com_mob62 p {
    margin: 0;
  }
  .com_mob622 {
    display: flex;
    align-items: center;
    font-size: 3.5vw;
    font-weight: bold;
    color: #4a6cdd;
    position: relative;
    padding-left: 5vw;
  }
  .circle_mob6 {
    position: absolute;
    left: -2vw;
    width: 3vw;
    height: 3vw;
    margin-right: 2vw;
    border: 0.8vw solid #4a6cdd;
    border-radius: 50%;
    background-color: white;
  }
  .com_mob623 {
    padding-left: 5vw;
    font-size: 3.5vw;
    font-weight: bold;
  }
  .com_text61,
  .com_text62,
  .com_text63,
  .com_text64 {
    margin-top: 2vh;
  }
}
