.community7 {
  width: 100vw;
  padding: 20vh 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.community71 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 1px;
}
.community71 p {
  margin: 0;
}
.community72 {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
}
.img72,
.img73,
.img74 {
  width: 5vw;
}
.img71,
.img75,
.img76 {
  width: 8vw;
}
.com_mob71,
.com_mob72 {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .community71 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 912px) {
  .community7 {
    padding: 10vh 0;
  }
}
@media only screen and (max-width: 912px) {
  .community7 {
    padding: 10vh 0;
  }
}

@media only screen and (max-width: 480px) {
  .community71 {
    font-size: 5vw;
  }
  .community72 {
    display: none;
  }
  .img72,
  .img73,
  .img74 {
    width: 15vw;
  }
  .img71,
  .img75,
  .img76 {
    width: 19vw;
  }
  .com_mob71 {
    margin-top: 5vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .com_mob72 {
    margin-top: 2vh;
    margin-left: 11vw;
    width: 88vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
