.community4 {
  width: 100vw;
  padding: 10vh 0;
  background-color: #ffffff;
  display: flex;
}
.community41 {
  margin-left: 5.5em;
  width: 48%;
  /* border: 1px solid red; */
  position: relative;
}

.community412 {
  position: absolute;
  left: 0;
  bottom: 1px;
  font-size: 1.1em;
  line-height: 160%;
  font-weight: 600;
  opacity: 0.7;
}
.community412 p {
  margin: 0;
}
.community42 {
  width: 52%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.community42 p {
  margin: 0;
}
.community421 {
  margin-left: 6vw;
  margin-bottom: 5vh;
  font-size: 3.1em;
  font-weight: bolder;
}
.community422 {
  margin-bottom: 3vh;
}
.community422,
.community423 {
  margin-left: 6vw;
  font-size: 1.1em;
  font-weight: 550;
  opacity: 0.6;
  line-height: 160%;
}
.community424 {
  margin-top: 40vh;
  width: 55%;
}
.com_mob41,
.com_mob42,
.com_mob43 {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .community424 {
    margin-top: 32vh;
  }
}
@media only screen and (max-width: 1024px) {
  .community421 {
    font-size: 2.4em;
  }
  .community412,
  .community422,
  .community423 {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 912px) {
  .community41 {
    margin-left: 3.5em;
  }
  .community421 {
    font-size: 2.2em;
  }
  .community412,
  .community422,
  .community423 {
    font-size: 0.7em;
  }
  .community424 {
    margin-top: 8vh;
  }
}
@media only screen and (max-width: 820px) {
  .community421 {
    font-size: 1.9em;
  }
  .community412,
  .community422,
  .community423 {
    font-size: 0.65em;
  }
}
@media only screen and (max-width: 770px) {
  .community421 {
    font-size: 1.7rem;
  }
  .community412,
  .community422,
  .community423 {
    font-size: 0.55rem;
  }
}
@media only screen and (max-width: 770px) {
  .community421 {
    font-size: 1.7rem;
  }
  .community412,
  .community422,
  .community423 {
    font-size: 0.55rem;
  }
}
@media only screen and (max-width: 550px) {
  .community421 {
    font-size: 1.25rem;
    line-height: 160%;
  }
  .community412,
  .community422,
  .community423 {
    font-size: 0.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .community4 {
    flex-direction: column;
  }
  .community41,
  .community42 {
    display: none;
  }
  .com_mob41 {
    display: block;
    margin-left: 21vw;
    width: 45vw;
  }
  .com_mob42,
  .com_mob43 {
    display: block;
  }
  .com_mob421 {
    margin-top: 3vh;
    margin-left: 21vw;
    font-size: 5vw;
    font-weight: bolder;
  }
  .com_mob422 {
    margin-top: 3vh;
    margin-left: 21vw;
    font-size: 3vw;
    font-weight: 550;
    opacity: 0.5;
  }
  .com_mob423 {
    margin-top: 3vh;
    margin-left: 21vw;
    font-size: 3vw;
    font-weight: 550;
    opacity: 0.5;
  }
  .com_mob43 {
    margin-top: 5vh;
    width: 45vw;
    margin-left: 45vw;
  }
  .com_mob431 {
    margin-top: 3vh;
    font-size: 5vw;
    font-weight: bolder;
  }
  .com_mob432 {
    margin-top: 3vh;
    font-size: 3vw;
    font-weight: 550;
    opacity: 0.5;
  }
}
