.community5 {
  width: 100vw;
  padding-top: 20vh;
  padding-bottom: 40vh;
  background-color: #ffffff;
}
.community51 {
  /* margin-left: 15vw; */
  width: 100%;
  /* border: 1px solid; */
}
.community511 {
  width: 100%;
  margin-bottom: 5vh;
  /* font-size: 2vw; */
  font-size: 4em;
  font-weight: bolder;
}
.community511 p {
  margin: 0;
}
.community512 {
  /* width: 55.3vw; */
  width: 75%;
  /* margin-left: 9vw; */
  margin-left: 25%;
  /* border: 1px solid; */
}
.community5121 {
  margin-top: 5vh;
  /* width: 46vw; */
  width: 85%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}
.community51211 {
  /* font-size: 1.4vw; */
  font-size: 1.3em;
  font-weight: 550;
  opacity: 0.8;
}
.community51212 {
  /* font-size: 0.8vw; */
  font-size: 0.8em;
  font-weight: 550;
  opacity: 0.6;
  line-height: 180%;
}
.community51212 p {
  margin: 0;
}

.community_mob51212 {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .community51212 {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1024px) {
  .community51211 {
    font-size: 0.9em;
  }
  .community51212 {
    font-size: 0.62em;
  }
}
@media only screen and (max-width: 912px) {
  .community511 {
    font-size: 2.7em;
  }
  .community51211 {
    font-size: 1em;
  }
  .community51212 {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 820px) {
  .community51211 {
    font-size: 0.8em;
  }
  .community51212 {
    font-size: 0.45em;
  }
}

@media only screen and (max-width: 540px) {
  .community511 {
    font-size: 1.7em;
  }
  .community5121 {
    width: 90%;
  }
  .community51211 {
    font-size: 0.5em;
  }
  .community51212 {
    font-size: 0.3em;
  }
}

@media only screen and (max-width: 450px) {
  .community5 {
    padding-top: 5vh;
    padding-bottom: 10vh;
    /* border: 1px solid; */
  }
  .community511 {
    font-size: 4.5vw;
    margin-left: 4px;
    width: 33vw;
    letter-spacing: 1px;
    margin-bottom: -0.5vh;
  }
  .community512 {
    width: 91vw;
    margin-left: 6vw;
  }
  .community5121 {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
  }
  .community51211 {
    font-size: 3vw;
    font-weight: bolder;
    opacity: 0.8;
    line-height: 200%;
  }
  .community51212 {
    display: none;
  }
  .community_mob51212 {
    display: block;
    font-size: 2.7vw;
    font-weight: 550;
    opacity: 0.6;
    line-height: 160%;
    width: 60.5vw;
  }
  /* .community51 {
    margin-left: 10vw;
  }
 */
}
