.community3 {
  height: 100vh;
  width: 100vw;
  padding: 10vh 0;
  background-image: url("../public/assets/images/community31.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* display: flex;
  justify-content: center; */
}
.community31 {
  margin-top: 43vh;
  /* font-size: 4vw; */
  font-size: 3.9em;
  font-weight: bolder;
  color: white;
  letter-spacing: 1px;
}
.community_mob31 {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .community31 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 912px) {
  .community31 {
    font-size: 2.5em;
  }
  .community3 {
    height: 92vh;
  }
}
@media only screen and (max-width: 820px) {
  .community31 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 540px) {
  .community31 {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 480px) {
  .community3 {
    height: 35vh;
    width: 100vw;
    display: block;
    background-size: 125% 100%;
  }
  .community31 {
    display: none;
  }
  .community_mob31 {
    display: block;
    margin-top: 10vh;
    margin-left: 4px;
    font-size: 5vw;
    font-weight: bolder;
    color: white;
    letter-spacing: 1px;
  }
}
