.community2 {
  padding: 10vh 0;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.community21 {
  width: 100%;
  margin-bottom: 7vh;
  /* font-size: 2vw; */
  font-size: 1.5rem;
  font-weight: bolder;
  float: left;
  margin-left: 3px;
}
.community22 {
  width: 100%;
  padding-left: 1em;
  display: flex;
}
.community221 {
  width: 34vw;
  margin-left: 3vw;
}
.community222 {
  width: 37vw;
  font-size: 1rem;
  font-weight: 900;
  opacity: 0.7;
  line-height: 180%;
  position: relative;
}
.community2221 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.com_mob2 {
  display: none;
}
@media only screen and (max-width: 912px) {
  .community21 {
    margin-bottom: 5vh;
    font-size: 4vw;
    padding-left: 0em;
  }
  .community221 {
    width: 34vw;
  }
  .community222 {
    font-size: 0.73em;
    line-height: 180%;
    width: 58%;
  }
}
@media only screen and (max-width: 820px) {
  .community21 {
    font-size: 3vw;
  }
  .community222 {
    font-size: 1.21vw;
    width: 41vw;
    line-height: 180%;
  }
}
@media only screen and (max-width: 540px) {
  .community221 {
    width: 37vw;
  }
  .community222 {
    font-size: 0.43em;
    width: 48vw;
  }
}
@media only screen and (max-width: 480px) {
  .community2 {
    padding: 10vh 0;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }
  .community21,
  .community22 {
    display: none;
  }
  .com_mob2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .com_mob21 {
    margin-bottom: 3vh;
    margin-left: 3vw;
    font-size: 5vw;
    font-weight: bolder;
  }
  .com_mob22 {
    width: 70vw;
    margin-bottom: 3vh;
  }
  .com_mob23 {
    margin-left: 3vw;
    font-size: 2.6vw;
    font-weight: 550;
    opacity: 0.7;
    line-height: 180%;
  }
}
