.eleventh {
  width: 100vw;
  background-color: #535353;
  color: white;
  padding-top: 90px;
  padding-bottom: 100px;
}
.eleventh h4 {
  width: 100%;
  margin: 0;
  margin-bottom: 2rem;
}

.parent11 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.child11 strong {
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0.7;
  font-weight: bolder;
  line-height: 200%;
}

.child11 p {
  font-size: 0.65rem;
  opacity: 0.7;
  margin: 0;
}
.thirdDiv4p {
  margin-top: 7%;
}
/* Insta div */
.insta {
  display: flex;
  justify-content: center;
  height: fit-content;
}
.insta strong {
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0.7;
  font-weight: bolder;
  margin-right: 5px;
}
.insta_img {
  width: 0.7rem;
  height: fit-content;
}

@media only screen and (max-width: 950px) {
  .eleventh h4 {
    margin-bottom: 1rem;
  }
  .child11 strong {
    font-size: 0.8rem;
  }
  .child11 p {
    font-size: 0.52rem;
  }
}
@media only screen and (max-width: 770px) {
  .child11 p {
    font-size: 0.4rem;
  }
}

@media only screen and (max-width: 550px) {
  .insta {
    display: none;
  }
  .eleventh {
    flex-direction: column;
  }
  .eleventh h4,
  .parent11 {
    padding-left: 1.7em;
  }

  .parent11 {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
  }

  .child11,
  .thirdDiv4p {
    margin-top: 0.7rem;
  }

  .child11 p {
    font-size: 0.55rem;
    line-height: 140%;
  }
}
@media only screen and (max-width: 290px) {
  .eleventh h4,
  .parent11 {
    padding-left: 1.5em;
  }
}
