/*Global CSS */
html,
body {
  padding: 0;
  margin: 0;
  font-family: notosanscjkrlight, notosanscjkrlight, sans-serif;
  background-color: #f8f8f8;
  overflow-y: auto;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/* Global classes */
.container,
.container2 {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
}
.container {
  padding-inline: 6em;
}
.container2 {
  padding-inline: 2em;
}
@media only screen and (max-width: 1000px) {
  .container {
    padding-inline: 5em;
  }
  .container2 {
    padding-inline: 7em;
  }
}
@media only screen and (max-width: 540px) {
  .container {
    padding-inline: 2em;
  }
  .container2 {
    padding-inline: 2em;
  }
}
/*react slick css */

.slick-dots {
  position: absolute !important;
  bottom: 30px !important;
}

.slick-dots li.slick-active button:before {
  color: #ffff !important;
  font-size: 0.5rem !important;
}

.slick-dots li button:before {
  font-size: 0.5rem !important;
}

.slick-next {
  right: 0 !important;
  display: none !important;
}
.slick-prev,
.slick-next {
  top: 0 !important;
  display: none !important;
}
.react-tabs__tab {
  position: initial !important;
}
.react-tabs__tab--selected {
  background: none !important;
  border: none !important;
  color: white !important;
}

/* Custom Local notosans Font Family */
@font-face {
  font-family: "notosanscjkrregular";
  src: url("/fonts/notosanscjkr/NotoSansCJKkr-Regular (TTF).ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "notosanscjkrbold";
  src: url("/fonts/notosanscjkr/NotoSansCJKkr-Black (TTF).ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "notosanscjkrmedium";
  src: url("/fonts/notosanscjkr/NotoSansCJKkr-Medium (TTF).ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "notosanscjkrlight";
  src: url("/fonts/notosanscjkr/NotoSansCJKkr-Light (TTF).ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* Custom Local pretendard Font Family */
@font-face {
  font-family: "pretendardBold";
  src: url("/fonts/pretendard/Pretendard-Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "pretendardRegular";
  src: url("/fonts/pretendard/Pretendard-ExtraBold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
