.header {
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.logo {
  width: 92.35px;
  height: 46.78px;
}
.text1 {
  color: white;
}
.text2 {
  color: white;
}
.text3 {
  color: white;
}
.text4 {
  color: white;
}
.text5 {
  color: white;
}
