@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");

.nineth {
  padding: 5rem 0;
  width: "100%";
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160vh;
}
.text {
  writing-mode: vertical-lr;
  font-size: 10rem;
  font-family: "Arimo", sans-serif;
  color: #191f28;
  position: absolute;
  height: max-content;
}
.nineth1 {
  height: 600px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Medic main page */
.medic {
  height: 90px;
  width: 150px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 17px;
}
.arrow {
  width: 15px;
  height: 15px;
}
.medic span {
  font-weight: 700;
  font-size: 15px;
  opacity: 0.6;
  float: right;
  margin-left: 5px;
}

/* Mobile */
.mobile {
  height: 490px;
  width: 400px;
}
.icon {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 185px;
  left: 158px;
}

/* Emergency Report Service */
.report {
  width: 200px;
  position: absolute;
  top: 220px;
  left: 43px;
}
.report button {
  box-shadow: 2px 2px 15px #d5eeff;
  text-align: left;
  border-radius: 100px;
  padding: 10px 22px;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  background-color: white;
}

/* Medical Pictogram Service */
.medical {
  width: 207px;
  position: absolute;
  bottom: 110px;
  right: 190px;
}
.medical button {
  box-shadow: 2px 2px 15px #d5eeff;
  text-align: left;
  border-radius: 100px;
  padding: 10px 22px;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  background-color: white;
}

@media only screen and (width: 1024px) {
  .nineth {
    height: 190vh;
  }
  .nineth1 {
    height: 594px;
    width: 580px;
  }
  .medic {
    top: 55px;
    right: 50px;
  }
  .mobile {
    margin-top: -100px;
    margin-left: 25px;
    height: 290px;
    width: 290px;
  }
  .icon {
    bottom: 230px;
    left: 161px;
  }
  .medical button,
  .report button {
    font-size: 15px;
    padding: 5px 20px;
  }
  .report {
    width: 170px;
    top: 250px;
    left: 30px;
  }
  .medical {
    width: 180px;
    bottom: 170px;
    right: 130px;
  }
}
@media only screen and (max-width: 915px) and (min-width: 765px) {
  .nineth {
    height: 120vh;
  }
  .nineth1 {
    height: 1020px;
    width: 760px;
  }
  .medic {
    top: 155px;
    right: 70px;
  }
  .mobile {
    margin-top: -100px;
    margin-left: 36px;
    height: 540px;
    width: 500px;
  }
  .icon {
    height: 30px;
    width: 30px;
    bottom: 375px;
    left: 155px;
  }
  .report {
    top: 450px;
    left: 38px;
  }
  .medical {
    bottom: 280px;
    right: 200px;
  }
}

@media only screen and (width: 540px) {
  .icon {
    bottom: 160px;
    left: 90px;
  }
  .medic {
    top: 35px;
    right: 5px;
  }
  .mobile {
    margin-left: 30px;
    height: 450px;
    width: 400px;
  }
  .report {
    width: 170px;
    top: 250px;
    left: 10px;
  }
  .report button,
  .medical button {
    font-size: 15px;
  }
  .medical {
    width: 180px;
    bottom: 80px;
    right: 120px;
  }
}

@media only screen and (max-width: 420px) {
  .nineth {
    height: 80vh;
  }
  .text {
    height: 80vh;
    font-size: 11vh;
  }
  .nineth1 {
    height: 650px;
    width: 320px;
  }
  .medic {
    height: 90px;
    width: 80px;
    top: 165px;
    right: 5px;
  }
  .arrow {
    width: 8px;
    height: 8px;
  }
  .medic span {
    font-size: 8px;
    margin-left: 5px;
  }
  .mobile {
    margin-top: 90px;
    margin-left: 36px;
    height: 320px;
    width: 230px;
  }
  .icon {
    height: 12px;
    width: 12px;
    bottom: 240px;
    left: 67px;
  }
  .report {
    width: 95px;
    top: 300px;
    left: 33px;
  }
  .report button {
    padding: 5px 12px;
    font-size: 9px;
  }
  .medical {
    width: 104px;
    bottom: 190px;
    right: 60px;
  }
  .medical button {
    padding: 5px 12px;
    font-size: 9px;
  }
}

@media only screen and (max-width: 280px) {
  .medic {
    top: 175px;
    right: 0px;
  }
  .mobile {
    margin-left: 28px;
    height: 300px;
    width: 210px;
  }
  .icon {
    left: 51px;
    bottom: 247px;
  }
  .report {
    left: 10px;
  }
  .medical {
    bottom: 195px;
    right: 45px;
  }
}
