.second {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}
.tt1 {
  text-align: center;
  width: 60%;
  font-size: 19px;
  font-weight: bolder;
  opacity: 0.95;
  padding-bottom: 20px;
}
.tt2 {
  display: flex;
  align-items: center;
}
.tt2 span {
  font-size: 18px;
  font-weight: 600;
  color: #191f28;
  opacity: 0.85;
}
.arrow {
  margin-top: 3px;
  margin-left: 10px;
  width: 18px;
}

/* left side 2 circles */
.left {
  display: flex;
  align-items: center;
  width: 37vw;
  position: absolute;
  left: 0;
  transform: translateX(-25%);
}
.img1 {
  margin-right: 30px;
}
.img2 {
  transform: rotate(90deg);
}

/* right side 2 circles */
.right {
  display: flex;
  width: 37vw;
  overflow-x: hidden;
  position: absolute;
  right: 0px;
  justify-content: flex-end;
}
.img4 {
  transform: translateX(100%);
}
.img41 {
  opacity: 0.3;
  transform: translateX(50%);
}

@media only screen and (max-width: 1282px) {
  .imgg {
    width: 38vw;
  }
}
@media only screen and (max-width: 950px) {
  .second {
    height: 50vh;
  }
  .tt1 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 540px) {
  .second {
    height: 100vh;
  }
  .left,
  .right {
    display: none;
  }
  .imgg {
    width: 100%;
    padding-inline: 1em;
  }
  .tt1 {
    font-size: 19px;
    width: auto;
    padding-inline: 3em;
  }
  .tt2 span {
    font-size: 16px;
  }
  .arrow {
    margin-left: 5px;
    width: 17px;
  }
}
