.service71 {
  background-color: #f4f7f9;
  box-shadow: 0px 0px 5px 2px rgba(222, 221, 221, 0.9);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(222, 221, 221, 0.9);
  -moz-box-shadow: 0px 0px 5px 2px rgba(222, 221, 221, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 4.2rem;
  height: 4.2rem; */
  width: 5.5rem;
  height: 5.5rem;
  /* margin: 0.4rem; */
  margin: 0.5rem;
  border-radius: 0.3rem;
}
.imgg {
  /* width: 1.8rem; */
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p1 {
  margin: 0;
  margin-top: 0.4rem;
  /* font-size: 0.7rem; */
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.8;
}
@media only screen and (max-width: 1030px) {
  .service71 {
    width: 4.2rem;
    height: 4.2rem;
    margin: 0.4rem;
  }
  .imgg {
    width: 1.8rem;
  }
  .p1 {
    font-size: 0.7rem;
  }
}
