.service73 {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 3rem;
  /* border: 1px solid; */
  display: flex;
  padding-bottom: 5rem;
  border-radius: 4rem;
}
/* mobile image */
.service731 {
  width: 50%;
  /* border: 1px solid; */
}
.service732 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #4a6cdd;
  /* border: 1px solid; */
  padding-left: 5rem;
  padding-top: 22.7rem;
  width: 50%;
  position: relative;
}
.service732 ::before {
  content: "";
  background-image: url("../public/assets/images/service712.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 2rem;
  height: 3rem;
  position: absolute;
  left: 2rem;
  top: 21.5rem;
}
.span2 {
  display: none;
}
@media only screen and (max-width: 1030px) {
  .service732 {
    font-size: 1.2rem;
    padding-top: 17.5rem;
  }
  .service732 ::before {
    left: 2rem;
    top: 16rem;
  }
}
@media only screen and (max-width: 950px) {
  .service73 {
    flex-direction: column;
  }
  .service731 {
    width: 100%;
    transform: translateX(-13%);
  }
  .service732 {
    width: 100%;
  }
  .service732 {
    font-size: 1.2rem;
    padding-top: 0rem;
    padding-left: 15rem;
  }
  .service732 ::before {
    left: 11rem;
    top: -1rem;
  }
  .span1 {
    display: none;
  }
  .span2 {
    display: block;
    color: black;
    font-size: 1.7rem;
    font-weight: bolder;
    line-height: 160%;
  }
}

@media only screen and (max-width: 850px) {
  .service732 {
    padding-top: 0rem;
    padding-left: 13rem;
  }
  .service732 ::before {
    left: 9rem;
    top: -1rem;
  }
  .span2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 770px) {
  .service73 {
    border-radius: 2rem;
  }
  .service732 {
    padding-left: 13rem;
  }
  .service732 ::before {
    left: 9.4rem;
  }
  .span2 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 550px) {
  .service73 {
    border-radius: 2rem;
  }
  .service732 {
    padding-left: 12rem;
  }
  .service732 ::before {
    left: 8.1rem;
    top: -1.5rem;
  }
  .span2 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 500px) {
  .service73 {
    padding-bottom: 2rem;
  }
  .service732 {
    padding-left: 8.5rem;
  }
  .service732 ::before {
    left: 6rem;
    top: -1rem;
    width: 1.2rem;
    height: 2rem;
  }
  .span2 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 400px) {
  .service732 {
    padding-left: 7.8rem;
  }
  .service732 ::before {
    left: 5.5rem;
  }
}
@media only screen and (max-width: 380px) {
  .service732 {
    padding-left: 7.4rem;
  }
  .service732 ::before {
    left: 5.3rem;
  }
}
@media only screen and (max-width: 370px) {
  .service732 {
    padding-left: 7.1rem;
  }
  .service732 ::before {
    left: 5rem;
  }
  .span2 {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 290px) {
  .service73 {
    border-radius: 1.5rem;
  }
  .service732 {
    padding-left: 5.2rem;
  }
  .service732 ::before {
    left: 3.5rem;
    width: 0.9rem;
    height: 1.5rem;
  }
  .span2 {
    font-size: 0.5rem;
  }
}
