.service6 {
  padding-bottom: 5rem;
  width: 100vw;
  background-color: #f8f8f8;
}
/* 1st Part */
.service61 {
  padding-top: 5rem;
  width: 100%;
}
.p1 {
  font-size: 1.4rem;
  font-weight: bolder;
}
.p2,
.p3 {
  font-size: 2.4rem;
  font-weight: bolder;
  line-height: 40%;
}
.p3 {
  color: #4a6cdd;
}
.p3::after {
  content: ".";
  font-size: 2.4rem;
  font-weight: bolder;
  margin-left: 0.5rem;
}
/* 2nd Part */
.service62 {
  width: 100%;
  background-color: #fff;
  padding-top: 5rem;
  border-radius: 2rem;
}
.service621 {
  width: 20rem;
}
.service622 {
  height: 100%;
  transform: translateY(100%);
}
.service6221 {
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0.8;
  line-height: 160%;
}
.service6222 {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.7;
  width: 28.5rem;
}
/* 3rd Part */
.service63 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
/* 3rd left part */
.service631 {
  background-color: #fff;
  width: 24rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 80%;
  padding: 1.2rem 0;
  padding-left: 4rem;
}
.service6311 p span {
  color: red;
  position: relative;
}
.service6311 p span::before {
  content: "";
  background-image: url("../public/assets/images/service6.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: absolute;
  left: -1.5rem;
}
/* 3rd right part */
.service632 {
  width: calc(100% - 26rem);
  background-color: #efefef;
  margin-left: 1rem;
  padding: 1.2rem 0;
  border-radius: 1rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.service6321 {
  font-size: 1rem;
  font-weight: bolder;
}
.service6322 {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.7;
  width: 27rem;
  line-height: 160%;
}
.service_mob62 {
  display: none;
}
.service_mob6311 {
  display: none;
}
.service_mob622 {
  display: none;
}
@media only screen and (max-width: 950px) {
  .service6 {
    padding-bottom: 5rem;
  }
  /* 1st Part */
  .service61 {
    text-align: center;
    padding-bottom: 2rem;
  }
  .p1 {
    font-size: 2rem;
    color: #4a6cdd;
  }
  .p2,
  .p3 {
    font-size: 2.2rem;
  }
  .p3 {
    color: black;
  }
  .p3::after {
    display: none;
  }
  /* 2nd Part */
  .service_mob62 {
    width: 100%;
    background-color: #fff;
    border-radius: 4rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
  }
  .service62 {
    display: none;
  }
  /* 3rd Part */
  .service63 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
  }
  /* 3rd white part */
  .service631 {
    margin-top: 1rem;
    width: 100%;
    padding: 2rem 5rem 2rem 4rem;
    border-radius: 2rem;
  }
  .service_mob6311 {
    display: block;
    font-size: 2rem;
  }
  .white_red {
    color: red;
  }
  .white_red::after {
    content: "";
    background-image: url("../public/assets/images/service6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-left: 0.3rem;
    transform: translateY(10%);
  }
  .service6311 {
    display: none;
  }
  .service6311 {
    display: none;
  }
  /* 3rd blacK part */
  .service632 {
    margin-top: 3rem;
    width: 100%;
    margin-left: 0rem;
    color: white;
    background-color: #262525;
    padding: 2rem;
    border-radius: 2rem;
    padding-left: 4rem;
  }
  .service6321 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .service6322 {
    font-size: 1.75rem;
    width: 32rem;
  }
  /* 4th part */
  .service_mob622 {
    display: block;
    width: 100%;
    padding-left: 4rem;
  }
  .service_mob6221 {
    margin-top: 4rem;
    font-size: 2.7rem;
    font-weight: bolder;
    opacity: 0.8;
    line-height: 160%;
  }
  .service_mob6222 {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    opacity: 0.7;
    line-height: 140%;
  }
}
@media only screen and (max-width: 830px) {
  .service_mob6311 {
    font-size: 1.7rem;
  }
  .white_red::after {
    width: 1.7rem;
    height: 1.7rem;
  }
  .service6321 {
    font-size: 1.75rem;
  }
  .service6322 {
    font-size: 1.5rem;
    width: 28rem;
  }
  .service_mob6221 {
    font-size: 2.4rem;
  }
  .service_mob6222 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 770px) {
  .service_mob6311 {
    font-size: 1.55rem;
  }
  .white_red::after {
    transform: translateY(15%);
  }
  .service6321 {
    font-size: 1.65rem;
  }
  .service6322 {
    font-size: 1.4rem;
    width: 25.5rem;
  }
  .service_mob6221 {
    font-size: 2.2rem;
  }
  .service_mob6222 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 550px) {
  .service_mob6311 {
    font-size: 1.37rem;
  }
  /* 1st Part */
  .p1 {
    font-size: 1.5rem;
  }
  .p2,
  .p3 {
    font-size: 1.7rem;
  }
  /* 2nd Part */
  .service_mob62 {
    padding-inline: 4.5em;
  }
  /* 3rd Part */
  /* 3rd white part */
  .service631 {
    padding: 2rem 5rem 2rem 2.5rem;
  }
  /* 3rd blacK part */
  .service632 {
    padding-left: 2.5rem;
  }
  .service6321 {
    font-size: 1.4rem;
  }
  .service6322 {
    line-height: 180%;
    font-size: 1.2rem;
    width: 22.8rem;
  }
  /* 4th part */
  .service_mob622 {
    padding-left: 2.5rem;
  }
  .service_mob6221 {
    font-size: 2rem;
  }
  .service_mob6222 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .service_mob6311 {
    font-size: 1.07rem;
  }
  .white_red::after {
    width: 1.07rem;
    height: 1.07rem;
    transform: translateY(10%);
  }
  /* 1st Part */
  .p1 {
    font-size: 1.1rem;
  }
  .p2,
  .p3 {
    font-size: 1.3rem;
  }
  /* 2nd Part */
  .service_mob62 {
    padding-inline: 3em;
  }
  /* 3rd Part */
  /* 3rd white part */
  .service631 {
    padding: 2rem 0rem 2rem 2rem;
  }
  /* 3rd blacK part */
  .service632 {
    padding-left: 2rem;
  }
  .service6321 {
    font-size: 1.1rem;
  }
  .service6322 {
    font-size: 0.95rem;
    width: 17.6rem;
  }
  /* 4th part */
  .service_mob622 {
    padding-left: 2rem;
  }
  .service_mob6221 {
    font-size: 1.55rem;
  }
  .service_mob6222 {
    font-size: 0.85rem;
    line-height: 180%;
  }
}
@media only screen and (max-width: 395px) {
  .service_mob6311 {
    font-size: 0.95rem;
  }
  .white_red::after {
    width: 0.95rem;
    height: 0.95rem;
  }
  /* 1st Part */
  .p1 {
    font-size: 1rem;
  }
  .p2,
  .p3 {
    font-size: 1.2rem;
  }
  /* 3rd blacK part */
  .service6321 {
    font-size: 1rem;
  }
  .service6322 {
    font-size: 0.85rem;
    width: 16rem;
  }
  .service_mob6221 {
    font-size: 1.45rem;
  }
  .service_mob6222 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 380px) {
  /* 1st Part */
  .p1 {
    font-size: 0.9rem;
  }
  .p2,
  .p3 {
    font-size: 1.1rem;
  }
  /* 3rd blacK part */
  .service6321 {
    font-size: 0.95rem;
  }
  .service6322 {
    font-size: 0.8rem;
    width: 15rem;
  }
  .service_mob6221 {
    margin-top: 2.5rem;
    font-size: 1.35rem;
  }
  .service_mob6222 {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 365px) {
  .service_mob6311 {
    font-size: 0.88rem;
  }
  /* 3rd blacK part */
  .service6321 {
    font-size: 0.95rem;
  }
  .service6322 {
    font-size: 0.75rem;
    width: 14rem;
  }
  .service_mob6221 {
    font-size: 1.3rem;
  }
  .service_mob6222 {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 290px) {
  .service_mob6311 {
    font-size: 0.62rem;
  }
  .white_red::after {
    width: 0.62rem;
    height: 0.62rem;
  }
  /* 1st Part */
  .p1 {
    font-size: 0.6rem;
  }
  .p2,
  .p3 {
    font-size: 0.75rem;
  }
  /* 2nd Part */
  .service_mob62 {
    padding-top: 2rem;
    padding-inline: 2.2em;
    border-radius: 2rem;
  }
  /* 3rd Part */
  /* 3rd white part */
  .service631 {
    padding: 1rem 2rem 1rem 1.5rem;
    border-radius: 1rem;
  }
  /* 3rd blacK part */
  .service632 {
    padding: 1.5rem;
  }
  .service6321 {
    font-size: 0.65rem;
  }
  .service6322 {
    font-size: 0.55rem;
    width: 10rem;
  }
  /* 4th part */
  .service_mob622 {
    padding-left: 1.5rem;
  }
  .service_mob6221 {
    font-size: 0.9rem;
  }
  .service_mob6222 {
    font-size: 0.5rem;
  }
}
