.service1 {
  background-image: url("../public/assets/images/service11.png"),
    url("../public/assets/images/service12.png");
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
  width: 100vw;
}
.service111 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: bolder;
  padding-top: 30%;
}
.service111::after {
  content: ".";
  font-size: 2.4rem;
  font-weight: bolder;
  color: #fff;
  margin-left: 0.5rem;
}
.btn {
  outline: none;
  border: none;
  background-color: #4a6cdd;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  opacity: 0.9;
  margin-top: 3rem;
}
.img1 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.scroll {
  color: #ffff;
  font-size: 1rem;
  font-weight: bolder;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.service_mob111 {
  display: none;
}
@media only screen and (max-width: 950px) {
  .service111 {
    font-size: 2.5rem;
    padding-top: 55rem;
  }
}
@media only screen and (max-width: 900px) {
  .service111 {
    font-size: 2rem;
    padding-top: 43rem;
  }
}
@media only screen and (max-width: 550px) {
  .service1 {
    background-image: url("../public/assets/images/service_mob1.png"),
      url("../public/assets/images/service12.png");
    background-size: 100% 100%, 100% 100%;
  }
  .service111 {
    display: none;
  }
  .service_mob111 {
    display: block;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bolder;
    padding-top: 25rem;
  }
  .service_mob111::after {
    content: ".";
    font-size: 1.7rem;
    font-weight: bolder;
    color: #fff;
    margin-left: 0.5rem;
  }
  .btn {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    border-radius: 2rem;
  }
  .img1 {
    bottom: 2.4rem;
  }
  .scroll {
    bottom: 2rem;
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 500px) {
  .service_mob111 {
    padding-top: 35rem;
    font-size: 1.6rem;
  }
  .btn {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
  .img1 {
    bottom: 1.4rem;
  }
  .scroll {
    bottom: 1rem;
  }
}
@media only screen and (max-width: 380px) {
  .service_mob111 {
    padding-top: 21rem;
  }
}
@media only screen and (max-width: 370px) {
  .service_mob111 {
    padding-top: 26rem;
  }
}
@media only screen and (max-width: 290px) {
  .service_mob111 {
    font-size: 1.1rem;
  }
  .service_mob111::after {
    font-size: 1.2rem;
  }
  .btn {
    padding: 0.9rem 1.2rem;
    font-size: 0.55rem;
  }
}
