.service7 {
  padding: 5rem 0;
  width: 100vw;
  background-color: #ffffff;
}
/* 1st part */
.service71 {
  width: 100%;
}
.p1 {
  font-size: 1.4rem;
  font-weight: bolder;
}
.p2,
.p3,
.p4 {
  font-size: 2.4rem;
  font-weight: bolder;
  line-height: 40%;
}
.p2 {
  color: #4a6cdd;
}
.p4::after {
  content: ".";
  font-size: 2.4rem;
  font-weight: bolder;
  margin-left: 0.5rem;
  color: #4a6cdd;
}
/* 2nd part */
.service72 {
  background-color: #f8f8f8;
  width: 100%;
  padding-top: 5rem;
  border-radius: 3rem;
}
.service721 {
  position: relative;
  width: 20rem;
}
.service721::after {
  content: "";
  background-image: url("../public/assets/images/service72.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 5rem;
  right: -2rem;
}
.service722 {
  margin-top: 6.7rem;
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #4a6cdd;
  position: relative;
  padding-left: 5rem;
}
.service722::before {
  content: "";
  background-image: url("../public/assets/images/service73.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 3.7rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
}
.service723 {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 6.5rem;
}
.service7231 {
  display: flex;
}
.mob_p1,
.mob_p3,
.mob_721,
.service_mob7 {
  display: none;
}
.service75 {
  display: none;
}
@media only screen and (max-width: 1030px) {
  .service721 {
    width: 17rem;
  }
  .service721::after {
    width: 9rem;
    height: 8rem;
    top: 4.8rem;
    right: -1.9rem;
  }
  .service722 {
    margin-top: 6.3rem;
    font-size: 1.2rem;
    padding-left: 4rem;
  }
  .service722::before {
    width: 3rem;
    height: 2rem;
    top: -0.1rem;
  }
  .service723 {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 920px) {
  .service72 {
    display: none;
  }
  .service7 {
    padding-bottom: 15rem;
  }
  /* 1st part */
  .service71 {
    text-align: center;
  }
  .mob_p1 {
    display: block;
    color: #4a6cdd;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 160%;
  }
  .p1,
  .p3,
  .p4 {
    display: none;
  }
  .p2,
  .mob_p3 {
    font-size: 2rem;
    font-weight: bolder;
    display: block;
    color: black;
    line-height: 40%;
  }
  /* 2nd part */
  .service_mob7 {
    background-color: #f8f8f8;
    width: 100%;
    padding-top: 5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
  }
  /* text with the finger */
  .mob_721 {
    display: block;
    font-size: 1.75rem;
    font-weight: bolder;
    position: relative;
    padding-bottom: 5rem;
  }
  .mob_721::after {
    content: "";
    background-image: url("../public/assets/images/service_mob71.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 2rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translate(-50%);
  }
  /* mobile */
  .service_mob721 {
    text-align: center;
    position: relative;
  }
  .service_mob721::after {
    content: "";
    background-image: url("../public/assets/images/service72.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    width: 12rem;
    height: 11rem;
    top: 13.5rem;
    right: -2.3rem;
  }
  /* 5th part of mobile view at bottom */
  .service75 {
    display: block;
    margin-top: 7rem;
    padding-left: 3rem;
  }
  .service751 {
    font-size: 3.3rem;
    font-weight: bolder;
    margin-bottom: 3rem;
  }
  .service752 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 160%;
  }
}
@media only screen and (max-width: 850px) {
  .service7 {
    padding-bottom: 12rem;
  }
  /* 5th part of mobile view at bottom */
  .service751 {
    font-size: 3rem;
  }
  .service752 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 770px) {
  .service75 {
    margin-top: 5rem;
  }
  /* 5th part of mobile view at bottom */
  .service751 {
    font-size: 2.6rem;
  }
  .service752 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 550px) {
  .mob_p1 {
    font-size: 1.1rem;
  }
  .p2,
  .mob_p3 {
    font-size: 1.8rem;
  }
  .service_mob7 {
    padding-inline: 4.5em;
  }
  .mob_721 {
    font-size: 1.55rem;
  }
  .service_mob721::after {
    top: 14rem;
    right: -1.2rem;
    width: 9.8rem;
    height: 8.5rem;
  }
  /* 5th part of mobile view at bottom */
  .service75 {
    margin-top: 4rem;
    padding-left: 1.5rem;
  }
  .service751 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
  .service752 {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 500px) {
  .mob_p1 {
    font-size: 1.07rem;
  }
  .p2,
  .mob_p3 {
    font-size: 1.2rem;
  }
  .service_mob7 {
    padding-inline: 3em;
    padding-top: 3rem;
  }
  .mob_721 {
    font-size: 1.15rem;
  }
  .service_mob721::after {
    top: 10.8rem;
    right: -1.5rem;
    width: 8rem;
    height: 7.7rem;
  }
  /* 5th part of mobile view at bottom */
  .service751 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .service752 {
    font-size: 0.95rem;
    line-height: 180%;
  }
}
@media only screen and (max-width: 400px) {
  .mob_p1 {
    font-size: 1rem;
  }
  .service_mob721::after {
    top: 10.5rem;
    right: -1.2rem;
    width: 7rem;
    height: 7.2rem;
  }
  /* 5th part of mobile view at bottom */
  .service7 {
    padding-bottom: 7rem;
  }
  .service75 {
    margin-top: 3rem;
  }
  .service751 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .service752 {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 380px) {
  .mob_p1 {
    font-size: 0.9rem;
  }
  .p2,
  .mob_p3 {
    font-size: 1.1rem;
  }
  .mob_721 {
    font-size: 1rem;
    padding-bottom: 3.5rem;
  }
  .mob_721::after {
    top: 2rem;
    width: 1.4rem;
    height: 2.1rem;
  }
  .service_mob721::after {
    top: 7.9rem;
    right: -1rem;
    width: 6.5rem;
    height: 6.5rem;
  }
  /* 5th part of mobile view at bottom */
  .service7 {
    padding-bottom: 5rem;
  }
  .service75 {
    margin-top: 2.5rem;
  }
  .service751 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }
  .service752 {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 370px) {
  .mob_721 {
    font-size: 0.95rem;
  }
  .service_mob721::after {
    top: 7.6rem;
    right: -1.4rem;
  }
}
@media only screen and (max-width: 290px) {
  .mob_p1 {
    font-size: 0.7rem;
  }
  .p2,
  .mob_p3 {
    font-size: 0.8rem;
  }
  .service_mob7 {
    padding-top: 2rem;
    padding-inline: 2.2em;
    border-radius: 2rem;
  }
  .mob_721 {
    font-size: 0.65rem;
  }
  .service_mob721::after {
    top: 7.25rem;
    right: -0.35rem;
    width: 4rem;
    height: 3.8rem;
  }
  /* 5th part of mobile view at bottom */
  .service7 {
    padding-bottom: 3rem;
  }
  .service75 {
    margin-top: 2rem;
  }
  .service751 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .service752 {
    font-size: 0.55rem;
  }
}
