.service74 {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 3rem;
  border-radius: 4rem;
}
.service741,
.service743 {
  font-size: 1.5rem;
  font-weight: bolder;
  padding-top: 11.1rem;
  line-height: 160%;
}
.service742 {
  width: 40%;
}
.service743 {
  color: #4a6cdd;
}
.service_mob742 {
  display: none;
}
@media only screen and (max-width: 1030px) {
  .service741,
  .service743 {
    font-size: 1.2rem;
    padding-top: 8rem;
  }
}
@media only screen and (max-width: 950px) {
  .service74 {
    padding-inline: 4rem;
    padding-inline-end: 5rem;
  }
  .service741,
  .service742,
  .service743 {
    display: none;
  }
  .service_mob742 {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
  }
  .text {
    font-size: 2.1rem;
    font-weight: bolder;
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 770px) {
  .text {
    font-size: 1.92rem;
    padding: 0;
  }
}
@media only screen and (max-width: 550px) {
  .service74 {
    border-radius: 3rem;
  }
  .service_mob742 {
    padding-top: 3rem;
  }
  .service74 {
    padding-inline: 2rem;
    padding-inline-end: 2.6rem;
  }
  .text {
    font-size: 1.95rem;
  }
}
@media only screen and (max-width: 500px) {
  .service74 {
    padding-inline: 1rem;
    padding-inline-end: 2rem;
  }
  .text {
    font-size: 1.45rem;
    padding-left: 0.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .service74 {
    padding-inline: 1.2rem;
    padding-inline-end: 2rem;
  }
  .text {
    font-size: 1.37rem;
    padding-left: 0rem;
  }
}
@media only screen and (max-width: 380px) {
  .service74 {
    padding-inline: 1.3rem;
    padding-inline-end: 2rem;
  }
  .text {
    font-size: 1.3rem;
    padding-left: 0.3rem;
  }
}
@media only screen and (max-width: 370px) {
  .text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 290px) {
  .service74 {
    border-radius: 1.5rem;
    padding-inline: 1.1rem;
    padding-inline-end: 1.6rem;
  }
  .text {
    font-size: 0.85rem;
  }
}
