.service9 {
  background-color: white;
  width: 100vw;
  padding: 3rem 0;
}
.parent_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service91 {
  margin-bottom: 5rem;
  font-size: 4.5rem;
  font-weight: bolder;
}
.service92 {
  width: 100%;
}
.service_mob91,
.service_mob92 {
  display: none;
}
@media only screen and (max-width: 1030px) {
  .service91 {
    font-size: 3.7rem;
  }
}
@media only screen and (max-width: 950px) {
  .service91 {
    margin-bottom: 3rem;
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 550px) {
  .service91 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .parent_div {
    display: none;
  }
  .service_mob91 {
    display: block;
    padding-inline: 3rem;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 60%;
    padding-bottom: 2rem;
  }
  .p3::after {
    content: ".";
    color: #4a6cdd;
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 0.5rem;
  }
  .service_mob92 {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 290px) {
  .service_mob91 {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
  }
  .p3::after {
    font-size: 1.5rem;
  }
}
