.seventh {
  width: 100vw;
  padding: 8rem 0;
  background-color: #ffffff;
}
/* parent of top texts div */
.seventh1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
.p1 {
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0.9;
  margin-bottom: 1rem;
}
.p2,
.p3,
.p4 {
  font-size: 2.4rem;
  font-weight: bolder;
}
.p2 {
  color: #4a6cdd;
}
.p4 span {
  color: #4a6cdd;
  margin-left: 5px;
}

/* below part parent_div */
.seventh12 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* left part */
.seventh121 {
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  width: 75%;
}
/* mobile  */
.mob_img {
  display: flex;
  align-items: flex-end;
  width: 18rem;
}
/* content beside the mobile image in light grey */
.seventh1212 {
  width: 29rem;
  margin-left: 4rem;
  margin-top: 12rem;
}
.text1 {
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0.8;
  line-height: 120%;
}
.text2 {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.7;
  line-height: 160%;
}
.text3 {
  margin-top: 2rem;
  /* margin-top: 20px; */
  display: flex;
  align-items: center;
}
.text3 span {
  font-size: 21px;
  font-weight: 600;
  opacity: 0.7;
}
.icon {
  padding-top: 5px;
  width: 21px;
  opacity: 0.9;
  margin-left: 5px;
}
/* Right part */
.seventh122 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}
/* top of right part i.e. image with text */
.seventh1221 {
  position: relative;
  margin-bottom: 3rem;
}
.img2_text {
  position: absolute;
  top: 2rem;
  left: 2.7rem;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 160%;
  width: 75%;
  opacity: 0.7;
  /* border: 1px solid; */
}
/* clock part */
.seventh1222 {
  background-color: #383838;
  border-radius: 1.5rem;
}
.clock {
  width: 3rem;
  margin: 1.25rem;
}
.clock_text {
  margin: 1.25rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 160%;
}
.mobile7 {
  display: none;
}
@media only screen and (max-width: 1024px) {
  /* mobile  */
  .mob_img {
    width: 20rem;
  }
  .seventh1212 {
    margin-top: 8rem;
  }
  .text1 {
    font-size: 1.5rem;
  }
  .text2 {
    font-size: 1rem;
  }
  .text3 span {
    font-size: 1.2rem;
  }
  .icon {
    width: 1.2rem;
  }
  /* Right part */
  .seventh122 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
  }
  .img2_text {
    top: 1rem;
    left: 2rem;
    font-size: 0.8rem;
  }
  /* clock part */
  .seventh1222 {
    height: 9rem;
  }
  .clock {
    width: 1.5rem;
    margin: 1rem;
  }
  .clock_text {
    margin: 1rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 950px) {
  .seventh1,
  .seventh12 {
    display: none;
  }
  .mobile7 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* First part */
  .mobile71 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  .mobile71 span {
    font-size: 2rem;
    font-weight: bolder;
    color: #4a6cdd;
    margin-bottom: 1rem;
  }
  .mobile711,
  .mobile712 {
    letter-spacing: -1px;
    font-size: 2.3rem;
    font-weight: bolder;
    line-height: 120%;
    opacity: 0.8;
  }
  .mobile712 span {
    color: #4a6cdd;
    margin-left: 10px;
    font-size: 3rem;
  }
  /* Second part */
  .mobile_im {
    margin-bottom: 4rem;
  }
  /* third part */
  .third {
    width: 100%;
    background-color: #f8f8f8;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-end;
    border-radius: 3rem;
    position: relative;
    margin-bottom: 4rem;
    padding-top: 2rem;
  }
  .img2_text {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    width: 15rem;
    line-height: 160%;
  }
  .mob_img2 {
    margin-top: 10rem;
    width: 20rem;
  }
  /* forth part */
  .forth {
    width: 100%;
    background-color: #383838;
    border-radius: 1.5rem;
  }
  .clock4 {
    margin: 3rem;
  }
  .clock_text4 {
    margin: 3rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
  }
  /* fifth part */
  .mobile3 {
    padding-left: 3rem;
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .text1,
  .text121 {
    font-weight: bolder;
    opacity: 0.8;
    margin-top: 1.2rem;
    font-size: 2.4rem;
  }
  .text122 {
    width: 27rem;
    font-weight: 600;
    opacity: 0.7;
    line-height: 160%;
    margin-top: 1.8rem;
    font-size: 1.4rem;
  }
  .text123 {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .text123 span {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.7;
  }
  .icon {
    padding-top: 5px;
    width: 1.5rem;
    opacity: 0.9;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 540px) {
  .mobile71 span {
    font-size: 1.4rem;
  }
  .mobile711,
  .mobile712 {
    letter-spacing: 0px;
    font-size: 1.6rem;
  }
  .mobile712 span {
    font-size: 2rem;
  }
  .img2_text {
    top: 2rem;
    left: 3rem;
    font-size: 1.9rem;
    width: 14rem;
  }
  .mob_img2 {
    margin-top: 8rem;
    width: 15rem;
  }
  /* forth part */
  .forth {
    border-radius: 1.8rem;
  }
  .clock4 {
    margin: 2rem 0 0 2rem;
  }
  .clock_text4 {
    margin: 2rem;
    font-size: 1.6rem;
  }
  /* fifth part */
  .mobile3 {
    padding-left: 2rem;
  }
  .text1,
  .text121 {
    margin-top: 1rem;
    font-size: 2.1rem;
  }
  .text122 {
    margin-top: 1.8rem;
    font-size: 1.2rem;
    width: 23rem;
  }
}

@media only screen and (max-width: 500px) {
  .mobile71 span {
    font-size: 1.1rem;
  }
  .mobile711,
  .mobile712 {
    font-size: 1.2rem;
  }
  .mobile712 span {
    margin-left: 2px;
    font-size: 2rem;
  }
  .third {
    border-radius: 1rem;
  }
  .img2_text {
    left: 1.5rem;
    font-size: 1.2rem;
    width: 10rem;
  }
  .mob_img2 {
    margin-top: 5.5rem;
    width: 11rem;
  }
  /* forth part */
  .forth {
    border-radius: 1rem;
  }
  .clock4 {
    margin: 1rem 0 0 1rem;
  }
  .clock_text4 {
    margin: 1rem;
    font-size: 1rem;
  }
  /* fifth part */
  .mobile3 {
    padding-left: 1rem;
  }
  .text1,
  .text121 {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 100%;
  }
  .text122 {
    font-size: 0.9rem;
    width: 17.2rem;
  }
  .text123 span {
    font-size: 1.2rem;
  }
  .icon {
    width: 1.2rem;
  }
}

@media only screen and (max-width: 281px) {
  .mobile71 span {
    font-size: 0.8rem;
  }
  .mobile711,
  .mobile712 {
    font-size: 0.9rem;
  }
  .mobile712 span {
    /* margin-left: 2px; */
    font-size: 1rem;
  }
  /* .third {
    border-radius: 1rem;
  } */
  .img2_text {
    left: 1rem;
    font-size: 0.8rem;
    width: 6rem;
  }
  .mob_img2 {
    margin-top: 4rem;
    width: 8.2rem;
  }
  .clock4 {
    /* margin: 1rem 0 0 1rem; */
    width: 2rem;
  }
  .clock_text4 {
    /* margin: 1rem; */
    font-size: 0.7rem;
  }
  .text1,
  .text121 {
    /* margin-top: 1rem; */
    font-size: 0.9rem;
    line-height: 50%;
  }
  .text122 {
    font-size: 0.5rem;
    line-height: 200%;
    width: 9.5rem;
  }
  .text123 span {
    font-size: 0.9rem;
  }
  .icon {
    width: 0.9rem;
    padding-top: 1px;
  }
}
