.sixth {
  padding: 8rem 0;
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}
.sixth11 {
  padding-bottom: 6rem;
}
.text1 {
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0.9;
  margin-bottom: 1rem;
}
.text2,
.text3 {
  font-size: 2.4rem;
  font-weight: bolder;
}
.text2 {
  opacity: 0.8;
}
.text3 {
  color: #4a6cdd;
}
.text3 span {
  margin-left: 5px;
}
.sixth12 {
  width: 100%;
  padding-top: 5vh;
  border-radius: 25px;
  background-color: white;
}
.sixth121 {
  display: flex;
  justify-content: space-between;
}
.img {
  width: 18vw;
}
.sixth122 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text121 {
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0.8;
  line-height: 160%;
}
.text122 {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.7;
  width: 580px;
}
/* Arrow text part */
.text123 {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.text123 span {
  font-size: 21px;
  font-weight: 600;
  opacity: 0.7;
}
.icon {
  padding-top: 5px;
  width: 21px;
  opacity: 0.9;
  margin-left: 5px;
}

.mobile {
  display: none;
}
@media only screen and (max-width: 930px) {
  .sixth11,
  .sixth12 {
    display: none;
  }
  .mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
  .mobile1 span {
    font-size: 2rem;
    font-weight: bolder;
    color: #4a6cdd;
    margin-bottom: 1rem;
  }
  .mobile11,
  .mobile12 {
    letter-spacing: -1px;
    font-size: 2.3rem;
    font-weight: bolder;
    line-height: 120%;
    opacity: 0.8;
  }
  .mobile12 span {
    color: #4a6cdd;
    margin-left: 10px;
    font-size: 3rem;
  }
  .mobile2 {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5rem;
  }
  .mobile3 {
    padding-left: 3rem;
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .text121 {
    margin-top: 1.2rem;
    font-size: 2.4rem;
  }
  .text122 {
    margin-top: 1.8rem;
    font-size: 1.4rem;
  }
  .text123 {
    margin-top: 1.9rem;
  }
  .text123 span {
    font-size: 1.5rem;
  }
  .icon {
    width: 1.5rem;
  }
}
@media only screen and (max-width: 540px) {
  .mobile2 {
    padding-inline: 2rem;
  }
  .mobile1 span {
    font-size: 1.4rem;
  }
  .mobile11,
  .mobile12 {
    letter-spacing: 0px;
    font-size: 1.6rem;
  }
  .mob_img {
    width: 100%;
    padding-inline: 2.5rem;
  }
  .mobile3 {
    padding-left: 2rem;
  }
  .text121 {
    margin-top: 1rem;
    font-size: 2.1rem;
  }
  .text122 {
    margin-top: 1.8rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .sixth {
    padding: 4rem 0;
  }
  .mobile2 {
    padding-inline: 1rem;
    border-radius: 3rem;
  }
  .mobile1 span {
    font-size: 1.2rem;
  }
  .mobile11,
  .mobile12 {
    font-size: 1.4rem;
  }
  .mobile3 {
    padding-left: 1.5rem;
  }
  .text121 {
    font-size: 1.6rem;
  }
  .text122 {
    font-size: 0.83rem;
  }
  .text123 span {
    font-size: 1.2rem;
  }
  .icon {
    width: 1.2rem;
  }
}
@media only screen and (max-width: 376px) {
  .mobile2 {
    padding-inline: 0rem;
    border-radius: 3rem;
  }
  .mobile1 span {
    font-size: 1rem;
  }
  .mobile11,
  .mobile12 {
    font-size: 1.2rem;
  }
  .mobile3 {
    padding-left: 1rem;
  }
  .text121 {
    font-size: 1.2rem;
  }
  .text122 {
    font-size: 0.75rem;
  }
  .text123 span {
    font-size: 1rem;
  }
  .icon {
    width: 1rem;
  }
}

@media only screen and (max-width: 281px) {
  .mobile2 {
    border-radius: 2rem;
    padding-top: 4rem;
  }
  .mobile1 span {
    font-size: 0.8rem;
  }
  .mobile11,
  .mobile12 {
    font-size: 0.9rem;
  }
  .text121 {
    font-size: 1rem;
  }
  .text122 {
    font-size: 0.5rem;
    line-height: 160%;
  }
}
