.tenth {
  padding: 10rem 0;
  width: 100vw;
  background-color: #ffffff;
}
.tenth1 {
  width: 50%;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 15%;
}
.p1,
.p2,
.p3 {
  line-height: 50%;
}
.p3 {
  color: #4a6cdd;
}
.rightp {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.tenthh2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transform: translateX(15%);
}
.c2 {
  transform: translateX(-30%);
  /* position: relative; */
}
.c2::after {
  content: url("/public/assets/images/main_img.png");
  width: 50px;
  height: 50px;
}

.splash1 {
  /* display: none; */
  position: absolute;
  bottom: -25%;
  right: -3%;
  width: 9vw;
}
.clickable {
  margin-top: 15%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.text {
  margin-right: 1.4vw;
  color: #4a6cdd;
  font-size: 1.5em;
  line-height: 160%;
  font-weight: bolder;
}

.click_logo {
  width: 3vw;
  transform: translateY(-2vh);
}
.tenth2 {
  display: none;
}
@media only screen and (max-width: 950px) {
  .splash1 {
    bottom: -20%;
    right: 2%;
  }
  .text {
    font-size: 1.1em;
    font-weight: 400;
    margin-right: 3.4vw;
  }
  .click_logo {
    width: 2.5vw;
    transform: translateY(-0.9vh);
    margin-right: 2.7vw;
  }
}
@media only screen and (max-width: 540px) {
  .tenth1 {
    margin-bottom: 25%;
    font-size: 6vw;
  }
  .tenthh2 {
    transform: translateX(19%);
  }
  .rightp {
    margin-top: 25%;
  }
  .splash1 {
    bottom: -15%;
    right: 3%;
  }
  .text {
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 4%;
  }
  .click_logo {
    width: 2.5vw;
    margin-right: 2.5%;
    transform: translateY(-1.1vh);
  }
}
@media only screen and (max-width: 500px) {
  .tenth1 {
    margin-bottom: 45%;
    font-size: 5.7vw;
  }
  .p3 span {
    margin-left: 5px;
  }
  .rightp {
    width: 50%;
    margin-top: 45%;
  }
  .tenthh2 {
    width: 190px;
    transform: translateX(0%);
  }
  .splash1 {
    bottom: -18px;
    right: 2px;
    width: 12vw;
  }
  .text {
    font-size: 9.5px;
    letter-spacing: 0.3px;
    margin-right: 8px;
  }
  .click_logo {
    width: 3.5vw;
    margin-right: 4px;
    transform: translateY(-6px);
  }
}
@media only screen and (max-width: 415px) and (min-width: 400px) {
  .tenthh2 {
    width: 211px;
  }
  .text {
    font-size: 10.5px;
    margin-right: 12px;
  }
  .click_logo {
    margin-right: 7px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 380px) {
  .tenthh2 {
    width: 200px;
  }
  .text {
    font-size: 9.5px;
    margin-right: 10px;
  }
  .click_logo {
    transform: translateY(-7px);
    margin-right: 7px;
  }
}

@media only screen and (max-width: 370px) and (min-width: 350px) {
  .tenthh2 {
    width: 180px;
  }
  .text {
    font-size: 9px;
    margin-right: 10px;
  }
  .click_logo {
    transform: translateY(-7px);
    margin-right: 7px;
  }
}

@media only screen and (max-width: 350px) {
  .tenth1 {
    width: 40%;
    font-size: 4vw;
  }
  .rightp {
    width: 60%;
  }
  .tenthh2 {
    width: 160px;
  }
  .text {
    font-size: 7.5px;
  }
  .click_logo {
    transform: translateY(-9.5px);
    margin-right: 5.5px;
  }
}
